= simple_form_for(@search, html: {:class => 'form-vertical' }) do |f|
  = f.input :orig, collection: Settings.cities, input_html: { class: "input-xlarge" }, prompt: "Select orig city"
  = f.input :dest, collection: Settings.cities, input_html: { class: "input-xlarge" }, prompt: "Select dest city"
  = f.input :date, label: 'Departing Date', as: :date, start_year: Date.current.year, end_year: Date.current.year + 1, order: [:day, :month, :year]

  = f.input :duration, as: :integer, input_html: { class: "input-medium", step: 1, min: 1, max: 72 }
  = f.input :price, as: :integer,  input_html: { class: "input-medium", step: 50, min: 0, max: 5000 }
  = f.input :stops_count, collection: Settings.stop_params, label: 'Stops count', input_html: { class: "input-medium" }
  .control-group
    .controls
      = f.submit 'Find', class: "btn btn-primary btn-large"